  <div id="main_cnt_wrapper">
   <div id=""yjContentsBody">
    <div class="yjContainer">
     <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
     <div id="yjMain">
      <article class="yjMain">
       <article class="section">
       <div class=container">
        <header class="header header--section">
         <h2 class="text-middle">
           <i class="icon-戦隊 color-gray-light"></i>新着作品
         </h2>
        </header>
        <ul class="thumnails thumnail--戦隊 row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
          <% @products.each do |product| %>
           <li class="col">
            <a href="/products/<%= product.id %>"><div class="thumbnail__figure" style="background-image:url(<%= product.image_url %>)"></div></a>
             <h3 class="text-xsmall text-overflow" title="タイトル">
               <%= product.title %>
             </h3>
             <p class="text-small">
              <% if product.reviews.present? %>
               <span class="rating-star">      
                <i class="star-actived rate-<%= product.review_average %>0"></i>
                 </span>
                <% else %> 
                <span class="rating-star">
                 <i class="star-actived rate-0></i>
                </span>
                <% end %>
             </p>
            </div>
           </li>
          <% end %>
        </ul>
      </div>
     </article>
    </div>
    <div id="yjSub">
             